spring:
  web:
    resources:
      static-locations: classpath:/static/
  datasource:
    url: jdbc:postgresql://localhost:5432/weather
    username: postgres
    password: ))
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
application:
  api:
    key: "))"
  session:
    id:
      name: "WEATHER_SESSION_ID"
logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate: ERROR