<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{header/header :: header}"></header>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>
    <h2 class="text-center mb-5">Sign Up</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form th:action="@{/sign/up}" th:object="${saveUserDto}" method="post" class="mt-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <input type="text"
                               th:field="*{login}"
                               class="form-control"
                               th:classappend="${usernameError != null} ? 'is-invalid' : ''"
                               id="username" required/>
                        <div class="invalid-feedback"
                             th:if="${usernameError != null}"
                             th:text="${usernameError.username}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group has-validation">
                        <input type="password"
                               th:field="*{password}"
                               class="form-control"
                               th:classappend="${passwordError != null} ? 'is-invalid' : ''"
                               id="password" required/>
                        <div class="invalid-feedback"
                             th:if="${passwordError != null}"
                             th:text="${passwordError.password}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="repeatPassword" class="form-label">Repeat Password</label>
                    <div class="input-group has-validation">
                        <input type="password"
                               th:field="*{repeatPassword}"
                               class="form-control"
                               th:classappend="${repeatPasswordError != null} ? 'is-invalid' : ''"
                               id="repeatPassword" required/>
                        <div class="invalid-feedback"
                             th:if="${repeatPasswordError != null}"
                             th:text="${repeatPasswordError.repeatPassword}">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="redirect_to" value="http://localhost/"/>
                <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                <p class="mt-2 text-center">Already have an account? <a th:href="@{/sign/in}">Sign in here</a></p>
            </form>
        </div>
    </div>
</div>