<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/weather-app.png}" alt="App icon" width="30" height="24"
           class="d-inline-block align-text-top">
      Weather Tracker
    </a>
    <div class="d-flex align-items-center">
      <span class="navbar-text me-3" th:text="${username}"></span>
      <form th:action="@{/logout}" class="mt-4" method="post">
        <button class="btn btn-outline-danger">Sign out</button>
      </form>
    </div>
  </div>
</nav>