<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{fragments/header :: header}">
</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<section id="page-content">
    <div class="container mt-4">
        <form th:action="@{/location/city}" th:object="${weather}" method="post">
            <div class="d-flex my-4">
                <div class="input-group location-search-input-group me-3">
                    <input class="form-control" type="text" name="location"
                           placeholder="Enter city or coordinates like '42.222 24.222'"
                           required>
                    <button class="btn btn-outline-secondary btn-sm clear-input-button"
                            type="button"
                            onclick="this.previousElementSibling.value=''">delete
                    </button>
                </div>
                <button class="btn btn-outline-success">Search</button>
            </div>
        </form>
        <div class="row">
            <div class="col-12 col-lg-3 col-md-6 mb-4" th:each="location : ${locations}">
                <div class="card h-100 position-relative weather-card">
                    <form th:action="@{/delete}" method="post">
                        <input type="hidden" name="cityName" th:value="${location.cityName}">
                        <button class="btn-close" type="submit" aria-label="Delete"></button>
                    </form>
                    <h5 class="card-title">City: <span th:text="*{location.cityName}"></span></h5>
                    <img th:src="${location.icon}"
                         class="card-img-top img-fluid"
                         alt="Weather icon">
                    <p class="card-text mb-1">Temperature:  <span th:text="*{location.temperature}"></span>°C</p>
                    <p class="card-text mb-1">Humidity: <span th:text="*{location.humidity}"></span>%</p>
                    <p class="card-text mb-1">Country: <span th:text="*{location.countryName}"></span></p>
                    <p class="card-text mb-3">About weather: <span th:text="*{location.descriptionWeather}"></span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: footer}">
</div>
</body>
</html>